@font-face {
    font-family: 'Netflix-R';
    src: url('/fonts/NetflixSans-Regular2.otf') format('opentype');
}

@font-face {
    font-family: 'Netflix-B';
    src: url('/fonts/NetflixSans-Bold.otf') format('opentype');
}

.myregular {
    font-family: 'Netflix-R', sans-serif;
}

.mybold {
    font-family: 'Netflix-B', sans-serif;
}

.hovered-btn:hover {
    color: white;
    border: 1px solid white;
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}