html {
    scroll-behavior: smooth;
}

/* Hides scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hides scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@font-face {
    font-family: 'Netflix-R';
    src: url('/fonts/NetflixSans-Regular2.otf') format('opentype');
}

@font-face {
    font-family: 'Netflix-B';
    src: url('/fonts/NetflixSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Netflix-M';
    src: url('/fonts/NetflixSans-Medium.otf') format('opentype');
}

.myregular {
    font-family: 'Netflix-R', sans-serif;
}

.mybold {
    font-family: 'Netflix-B', sans-serif;
}

.mymedium {
    font-family: 'Netflix-M', sans-serif;
}

.hovered-btn:hover {
    color: white;
    border: 1px solid white;
}

.vignette {
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.bottom-blur {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 100%);

    pointer-events: none;
}